# Игнорируем папку node_modules
node_modules/

# Игнорируем лог-файлы
*.log
log/

# Игнорируем временные файлы
tmp/

# Игнорируем локальный файл конфигурации
.env

# Игнорируем файлы тестов
*.test.js
*.spec.js

# Игнорируем файлы сборки
build/
dist/
.webpack/

# Игнорируем пакеты и другие конфигурационные файлы для локальных инструментов
package-lock.json
